.html, body {
  height: 100%
}

.container {
    margin: auto;
    text-align: center;
    max-width: 600px;

    width: 100%;
    min-width: 100vw;
    max-width: 100%;
    /* height: 100%; */
    min-height: 140vh;  
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;


    color: #004;

    &__image {
        width: 100px;
        height: auto;
    }

}

.fullpage-bg {
    width: 100%;
    min-width: 100vw;
    max-width: 100%;
    height: 100%;
    min-height: 100vh;  
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.top-at-vp-bottom {
    position: absolute;
    top: 100vh;
}

/* NB Don't forget to match scrollTo timeout! */
.transition-off-top {
    /* opacity: 0.2; */
    position: relative;
    bottom: 140vh;
    /* (100vh) */
    /* transition: bottom 1.8s cubic-bezier(.51,1.4,.75,-0.11) ;  */
    /* (140vh) */
    transition: bottom 1.2s cubic-bezier(.15,.96,.8,-0.4) ; 
}

.modal-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    padding: 20vw 37.5% 10% 37.5%;
    pointer-events: none; 
    z-index: 10;
}

.modal {
    position: absolute;
    min-width: 25%;
    min-height: 7.5rem;
    margin: auto;
    pointer-events: auto; 

    padding: 0.5vh;
    border: 0.25rem solid #b2bd;
    border-radius: 1.5rem;
    
    background-color: #000d;     
    box-shadow: inset 0 0 5rem #b28;
    color: #ffe;
    white-space: pre-wrap;
}

.modal section{
    padding: 1.5vh 0.5vh;
}

.buyer-page__main {
    height: 75vh;
    /* min-height: 75vh; */
    border: 6px dotted #62b4;
    border-radius: 4rem;
    margin: 0px 2vw;
}

/* 
.buyer-page__main input {
    position: absolute;
    bottom: 10%;
    margin: 0px 50%;
} */

.buyer-page__main__input {
    position: absolute;
    bottom: 10%;
    width: 100%;
    max-width: 100%;
    /* min-width: 100%; */
    padding: 0px 5vw 0px 5vw;
}

.buyer-page__buy-spec-bg {
    width: 100vw;
    position: absolute;
    left: 0vw;
    background-color: orange;
    /* background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' 
                    style='background-color:teal'
                    width='30' height='30' viewBox='0 0 70 70'>
                    <path d='M55,7.5 h10 v10 h-10 v-10 m2.5,-2.5 h10 v10'
                    stroke='black' strokeWidth='1.5' fill='none'/></svg>"
                );    
    background-repeat: no-repeat; 
    background-position: top right;
    background-size: cover; */

    border-radius: 5rem;
}

.max-width-60vw {
    max-width: 60vw;
    /* display: flex;
    justify-content: center; */
}

.row__standard-height {
    height: 3rem;
}

.row__force-narrow-children {
    display: flex;
    justify-content: center;

    font-size: 0.75rem;
}

.big-rl-margins {
    margin-left: 10%;
    margin-right: 10%;
}

.behave-like-a-div {
    position: absolute;
    width: 100%;
    max-width: 100%;
    background-color: blue;;
}

.center-margin-auto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.margin-shift-left {
    margin-left: -4.25rem;;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.abs-right {
    position: absolute;
    right : 0px;
}

.abs-top-right {
    position: absolute;
    top : 1rem;
    right : 1rem;
}

.abs-top-right__but-down-some {
    position: absolute;
    top : 10rem;
    right : -0.5rem;
    z-index: 5;
}

.abs-bottom {
    position: absolute;
    bottom : 0px;
}


.bottom-left{
    position: absolute;
    bottom: 0vh;
    left: 0px;
} 

.bottom-right{
    position: absolute;
    bottom: 20vh;
    right: 2%;
} 

.large-nav-icon {
    width: 30vw;
    max-width: 400px;
    max-height: 40vh;
}


.hidden {
    visibility: hidden;
}

.semitransparent {
    opacity: 0.4;

}

.z-index-5 {
    z-index: 5;
}

.dark-text {
    color : #201;
}

.bordery {
    border: 2px solid magenta;
}

section {
    border-top: 4px solid #ade4;
    border-bottom: 4px solid #ade4;
    flex-direction: column;

    max-width: 100%;

}

.section-title {
    margin-bottom: 0;
    padding: 0vw 3vw;
    /* background-color: pink; */
    width : auto;
    
    border-radius : 5vw;
    /* background-image: linear-gradient(#ff02, #f002); */
    color: black;
    text-shadow: 0 0 5px #fff;

    white-space: pre-wrap;
    font-size: 2.5rem;
    font-weight: 800;
}

section#pack-and-send {
    padding-bottom: 7rem;
    /* margin-bottom: 7rem; */
}


.file-input-dragarea {
    /* height: 75vh; */
    /* min-height: 75vh; */
    width: 80%;
    border: 6px dotted #62b4;
    border-radius: 1rem;
    padding-top: 0.25rem;
    
    /* margin: 0px 2vw; */

}

.border__off {
    border: 6px transparent;
}

.button {
    background-color: #828d;
    color: black;
    border : 3px solid #8888;
    border-radius: 2vw;
    padding: 1vw;
    margin: 1vw;

    text-align: center;
    font-weight: 700;
    font-size: 1rem; 

    white-space: pre-wrap;
} 

.button__disabled {
    background-color: #b8b;
    opacity : 0.6;
}


.button-padding-compensate {
    position: relative;
    right: 0.5vw;
    top: 0.5vw;
}

.button__small-text {
    background-color: #828d;
    color: black;
    border : 3px solid #8888;
    border-radius: 2vw;
    padding: 1vw;
    margin: 1vw;

    text-align: center;
    font-weight: 400;
    font-size: 1rem; 

} 

.button__very-small-text {
    padding: 0.3vw;
    margin: 0.3vw;

    text-align: center;
    font-weight: 400;
    font-size: 0.75rem; 

} 

.button__curves-button__shift-up {
    position: relative;
    top: -2rem;
}

.button-svg-child__shift-up-right {
    position: relative;
    top: -4rem;
    left: 3.5rem;
}

.button__shift-way-down-stay-right {
    position: absolute;
    bottom: -0.5rem;
    right: 5rem;

    width: 5rem;
    min-width: 5rem;

}

.button__z2-semitransparent {
    z-index: 2;
    position: relative;
    bottom:150%;
    margin-bottom: -15%;

    left: 25%;
    width: 50%;
    min-height: 4.5rem;
    left: 25%;

    /* opacity: 0.6; */
    background-color: #f808;

    border-radius: 4.5rem;
    padding: 2.5rem;
    color: black;
    font-weight: 700;
} 

.button__z2-semitransparent__higher {
    bottom: 250%;
    margin-bottom: -17.5%;
    /* bottom: 260%;
    margin-bottom: -17.5%; */
    min-height: 7.5rem;
    background-color: #f808;
}

.button__z2-bottom {
    z-index: 2;
    width: 70%;
    left: 15%;
    bottom: 5%;
}

.button__acala {
    background: #3732ff;
    outline: none;
    box-shadow: none;
    /* font-size: 18px; */
    text-align: center;
    color: #fff;
    border: 2px solid #3732ff;
    border-radius: 2px;

    font-family: "SF Pro Text","Helvetica Neue","Helvetica",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans",sans-serif;
    /* font-weight: 300; */
}

.button__acala__disabled {
    background-color: #6e64ff;
    opacity : 0.6;
}

.button__staid {
    background-color: #554c48;
    color: #bbb;
}

.next-button {

} 

.h2-span-text {
    font-size: 1.75rem;
    font-weight: 500;
    /* color: #200; */
}

.jobgroup {
    background-color: #d86b;
    color: black;
    border : 3px solid #8888;
    border-radius: 2vw;

    max-width: 100%;
    position: relative;
    /* padding: 1vw; */
    margin: 2%;

    text-align: center;
    font-weight: 700;
    font-size: 1rem; 

} 

.jobgroup__top{
    /* background-color: #d86b; */
    color: black;
    border : 4px solid #8888;
    border-radius: 2vw;

    max-width: 100%;
    position: relative;
    padding: 1vw;
    /* margin: 2%; */

    text-align: center;
    font-weight: 700;
    font-size: 1rem; 

} 

.jgops-row {
    position: relative;
    background-color: #f86b;
    margin-top: -3px;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    /* position: relative; */

    height: 4.5rem;
    max-height: 4.5rem;

    display: flex;
    justify-content: space-between;
}

.jgop__selected {
    position: relative;
    left: 15%;
}

.jgop__result-button {
    background-color: rgba(221, 24, 132, 0.867);
    color: black;
    border : 4.5px solid #828d;
    border-radius: 2vw;
    padding: 1vw;
    margin: 1vw;

    position: relative;
    left: 100%;
    /* right: 50%; */

    text-align: center;
    font-weight: 700;
    font-size: 1.5rem; 
}

.jgop__threshold-input {
    position: absolute;
    min-height: 2rem;
    bottom: 1.25rem;
    right: 1rem;

    border: 0.25rem solid #828d;
    /* border-radius: 2vw; */
    background-color: #b4bd; 
    font-weight: 700;
    padding-left: 0.5rem;
}

.jgop__join-arrow {
    position: relative;
    left: 35%;
    top: -7.5%;
    z-index: 2;
}

.params-box {
    background-color: #97ed;
    color: black;
    border : 3px solid #8888;
    border-radius: 2vw;
    padding: 1vw;
    margin: 1vw;

    text-align: center;
    font-weight: 700;
    font-size: 1rem; 
} 

.params-child {
    background-color: #fff8;
    color: black;
    border : 2px solid #8888;
    border-radius: 1vw;
    overflow: hidden;

    max-height: 3rem;

    padding: 0px;
    margin: 1vw;

    text-align: center;
    font-weight: 700;
    font-size: 1rem; 

    display: flex;
    flex-direction: row;
} 

.params-child-left {
    background-color: #fff8;
    color: black;
    /* border : 1px solid #8888; */
    /* border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw; */

    min-height: 100%;

    padding: 1vw;
    margin: 0px;
    width: 50%;
    /* max-width: 35%; */
    display: block;

    text-align: right;
    font-weight: 600;
    font-size: 1rem; 
} 

.params-child-right {
    background-color: #ffffff;
    color: black;
    /* border : 1px solid #8888; */
    /* border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw; */
    overflow-x: hidden;

    min-height: 100%;

    padding: 1vw;
    margin: 0px;
    width: 65%;
    max-width: 65%;
    display: block;

    text-align: left;
    font-weight: 400;
    font-size: 1rem; 
} 

.oracle {
    background-color: #62ad;
    color: black;
    border : 3px solid #8888;
    border-radius: 2vw;
    padding: 1vw;
    margin: 1vw;

    text-align: center;
    font-weight: 700;
    font-size: 1rem; 
} 

.curve-subsection__header {
    background: linear-gradient(#e66f, #e66b, #8288,#8285, #8280);
    border-top: 3px dotted black;
    border-radius: 2vw 2vw 0px 0px;
    padding: 2vw 0.5vw 1vw 1vw;

    color: #ffe;
}

.curve-subsection__header__folded  {
    background: linear-gradient(#e66f, #e66b, #8288,#8285, #8280);
    border-top: 3px dotted black;
    border-radius: 2vw 2vw 0px 0px;
    padding: 0vw 0.5vw 0vw 1vw;

    color: #ffe;
}

.curve-subsection__bottom {
    /* display: flex;
    flex-direction: column; */
    background: linear-gradient(#8280, #8284, #e668);
    border-bottom: 3px dotted black;
    border-radius: 0px 0px 2vw 2vw;
    padding: 2vw 0.5vw 1vw 1vw;
}

.curve-definer {
    background-color: #fbf8ff;
    color: #200;
    
    padding: 0.5rem;
    border: 1px solid #bbb;
    border-radius: 1.5rem;


    text-align: right;
    font-weight: 700;
    font-size: 1rem; 
}

.curve-definer input {
    margin: 0.5rem;
}

.info-blob {    
    min-width: 25%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;

    border-radius: 0.5rem;
    
    background-color: #0006;     
    box-shadow: inset 0 0 2rem #b28;
    color: #ffe;
    white-space: pre-wrap;
}

/* VV semantic-ui VV */

.ui{
    background-color : #0f0;
} 

.active {
    background-color : #fcf;
    color : black;
} 

.visible {
    background-color : #ffc;

} 

.search {
    background-color : #ddd;
    border-radius : 2px;

} 



.inputs-set{
    width : 25vw;
    min-width : 25vw;

    margin-left :auto;
    margin-right :auto;
    text-align: center;
} 

.dropdown{

    background-color : #fff0d8;
    border-radius : 2px;
    border: 3px solid #a182;
    /* border: 2px solid #d0d8;  */
    color : black;
    width : 25vw;
    min-width : 25vw;

    margin-left :auto;
    margin-right :auto;
    padding: 0.5vw 1vw 0vw;
    text-align: center;
    font-weight: 700;
} 

.dropdown.icon{

    background-color :transparent;
    color : #40f;
    border: 0px;
    /* height: 3rem; */
    /* border-radius : 2px; */
    /* border: 2px solid #dd08; */
    /* width: 90%; */
    /* min-width: 90%; */
} 

.ui.default.dropdown:not(.button) > .text, .ui.dropdown:not(.button) > .default.text {
    color: #303;
}

input {
    border-radius : 0.5vw;
}

.dropdown > input{

    background-color : #f03;
    color : black;
    white-space: pre-wrap;
} 

.clear {
    background-color : #f00;

}

.ui.dropdown .menu > .item.grid-5-1 {
    display: grid;
}

.ui.search.dropdown .menu {
    overflow-y: hidden;
}

/* ^^ Semantic-UI ^^ */

.dropdown-item__size {
    height: 3rem;
    min-height: 3rem;
    width: 6rem;
    min-width: 12rem;
}

.grid-2-1 {
    display: grid;
    grid-template-columns: 65% 33%;
    position: relative;
}

.grid-5-1 {
    /* width:100%;
    min-width:96%;
    max-width: 50%; */
    display: grid;
    grid-template-columns: 83% 15%;
    position: relative;
}

.grid-40-60 {
    width:100%;
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
}

.z-index-2 {
    position: absolute;
    right: -3px;
    top: 1.5rem;
    z-index: 2;
    width: 35%;
}

.option__info-container {
    width: 25vw;
}

.width-100 {
    width:100%;
    background-color: lightpink;
    display: flex;
    flex-direction: row;
}

.posabs {
    position: absolute;
}

.posrel {
    position: relative;
}

.bg-red {
    background-color: red;
}

.subsection {
    width: 90%;
    position: relative;
    left:3%;
    margin: 2%;
    /* border: 1px dashed black; */
}

.subsection__folded {
    width: 90%;
    margin : 0px;
}


.subsection__folded div h3  {
    margin-bottom: 2vh;
}

.hover {
    position: relative;
}
    /* NB only add .hover__no-hover class where the original should disappear on hover */
    .hover:hover .hover__no-hover {
        opacity: 0;
    }
    .hover:hover .hover__hover {
        position: absolute;
        top: 0px;
        right:0px;
        opacity: 1;
    }
    .hover__hover {
        position: absolute;
        opacity: 0;
    }
    .hover__no-hover {
        opacity: 1;
        position: absolute;
        top: 0px;
        right:0px;
    }


.curve-demo {
    background-color: #eefd;

    height: 20vw;
    min-height: 20vw;
    width: 30vw;
    min-width: 30vw;

    border : 2px solid grey;
}

.curve-demo__above-left {
    bottom: 0vw;
    right: 2.5vw;
}

.curve-demo__hoverish {
    z-index: 400;
    position: absolute;
}

.modal-launcher {
    background-color : #70cbc0;
    border: 0.25rem solid #0008;
    border-radius: 2.5vw;
    border-top-right-radius: 0.5vw;

    /* position: relative; */

    display: inline-block;
    min-height: 2rem;
    margin-bottom: 2vw;

    padding : 0.5rem;
    /* margin : 2rem; */
    font-weight : 700;
    font-size: 0.75rem;
    text-align: center;

    background: url("data:image/svg+xml;utf8,
                    <svg xmlns='http://www.w3.org/2000/svg' 
                        style='background-color:teal'
                        width='200' height='45' viewBox='-80 0 1 67.5'>
                            <path d='M55,7.5 h10 v10 h-10 v-10 m2.5,-2.5 h10 v10'
                            stroke='black' strokeWidth='1.5' fill='none'/>
                    </svg>"
                );    
    background-repeat: no-repeat; 
    background-position: top right;
    /* background-size: cover; */

    
}

.modal-title {
    font-weight: 700;
    font-size: 1.1rem;
}

.info__shift {
    position: absolute;
    top: 30px;
}

#audits-dropdown {
    background-color : #fff0d8;
    display: inline-block ;
    /* width: 66%;
    max-width: 66%; */

    white-space: pre-wrap;
}

.wasms-dropdown {
    white-space: pre-wrap;
}

.width-two-thirds {
}

.width-one-third {
}

.titlebar {
    /* background: lightblue url("./assets/vous_sortez-old-2592x1680.jpg") no-repeat 10%  30%  ;
    background-size: 400% auto;
    background-position: center 15%; */
    height:15vh;
    max-height:15vh;    
}

.titlebar-image-spacer {
    height:2.5vh;
    min-height:2.5vh;
}

.page-bottom-spacer {
    height:7.5vh;
    min-height:7.5vh;
}

.spacer__2-thick-buttons {
    height: 17.5vh;
    min-height: 17.5vh;
    border-bottom: black;
}
















































































